/*-- scss:rules --*/

.logo {
    vertical-align: middle;
    width:auto;
    height:35px;
}

.portrait {
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
}

.cite {
    font-size: medium;
}

.affiliation {
    font-size: medium;
}

.quarto-title-affiliation {
    display: inline;
}
